<nav class="navbar">
  <div class="nav-left">
    <a href="/" class="logo">Connectly</a>
  </div>

  <div class="nav-center">
    <input type="text" placeholder="Search users..." disabled>
  </div>

  <div class="nav-right">
    {% if user.is_authenticated %}

      <a href="{% url 'profile' user.username %}" class="icon-btn profile-btn" title="Profile">
        👤
      </a>

      <a href="{% url 'notifications' %}" class="icon-btn" title="Notifications">
        🔔
        {% if notif_count > 0 %}
          <span class="badge">{{ notif_count }}</span>
        {% endif %}
      </a>

      <form method="POST" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="icon-btn logout" title="Logout">
          🚪
        </button>
      </form>

      {% else %}
      <a href="{% url 'login' %}" class="nav-btn nav-login">Login</a>
      <a href="{% url 'signup' %}" class="nav-btn nav-signup">Sign Up</a>
    {% endif %}
    

    <button id="darkModeBtn" class="icon-btn" title="Dark mode">
      🌙
    </button>

  </div>
</nav>
